<header>
    <nav class="flex items-center justify-between flex-wrap bg-emerald-500 p-5">
        <a href="/" class="mr-2 lg:mr-5">
            <div class="flex items-center flex-shrink-0 text-white fill-white hover:text-emerald-200 hover:fill-emerald-200 transition ease-out">
                <svg xml:space="preserve" width="25" height="25" viewBox="0 0 512.001 512.001">
            <path d="M220.051 350.316c0-116.359-48.82-143.719-152.702-143.719 0 112.325 68.644 143.719 152.702 143.719M318.858 377.263c0-97.801 44.014-116.772 125.754-116.772 1.536 94.81-41.095 116.772-125.754 116.772M345.805 0c22.878 70.593-33.603 111.409-77.474 116.772C235.689 68.285 258.226 11.929 345.805 0M229.033 197.614c-75.228 0-89.825-35.93-89.825-98.807 72.929-1.186 89.825 33.684 89.825 98.807M300.893 233.544c81.902 0 116.772-9.324 116.772-116.772-81.902 0-116.772 9.324-116.772 116.772"/><path d="M380.989 319.785c-1.985-4.554-7.285-6.638-11.821-4.653-27.675 12.045-44.598 35.292-57.488 56.652-12.09 12.917-25.295 27.693-37.735 45.586V296.422c0-12.189 13.483-35.014 33.549-56.787 1.015-1.105 2.425-2.677 4.177-4.626 9.854-11.021 30.361-33.927 48.658-48.29 3.907-3.063 4.581-8.713 1.527-12.611-3.072-3.907-8.713-4.581-12.611-1.527-19.546 15.342-40.762 39.047-50.966 50.445l-3.988 4.428c-4.114 4.464-12.477 13.977-20.345 25.402V152.775c.243-32.463 5.857-52.341 21.423-75.974a8.979 8.979 0 0 0-2.551-12.441 8.974 8.974 0 0 0-12.45 2.56c-17.498 26.561-24.109 49.79-24.387 85.711 0 .018.009.027.009.036 0 .009-.009.027-.009.036v63.236c-9.054-12.917-18.513-22.582-20.345-24.414l-35.93-38.93c-3.359-3.638-9.036-3.871-12.692-.503-3.647 3.359-3.871 9.045-.512 12.692l36.181 39.181c9.261 9.261 33.298 37.475 33.298 56.527v114.113c-8.147-10.213-15.854-17.498-22.16-23.408-2.569-2.407-4.833-4.545-6.782-6.593-24.432-38.014-49.008-62.356-75.102-74.312-4.5-2.057-9.845-.099-11.911 4.419-2.066 4.509-.09 9.845 4.428 11.911 23.067 10.572 45.316 32.993 68.024 68.536.234.35.53.629.799.943.09.117.117.252.225.359 2.255 2.416 4.976 4.967 8.03 7.842 9.414 8.821 22.178 20.884 34.448 42.361v96.355c0 4.958 4.024 8.982 8.982 8.982s8.982-4.024 8.982-8.982v-51.541c15.558-28.663 34.681-50.167 51.469-68.069.099-.108.126-.243.216-.359.323-.368.665-.728.925-1.159 11.498-19.16 26.39-40.107 49.781-50.284 4.546-1.985 6.63-7.276 4.654-11.821"/><path d="M417.665 512H112.261c-4.958 0-8.982-4.024-8.982-8.982s4.024-8.982 8.982-8.982h305.404c4.958 0 8.982 4.024 8.982 8.982S422.623 512 417.665 512"/>
          </svg>
                <span class="font-bold text-2xl ml-1">floraExplorer</span>
            </div>
        </a>
        <div class="block lg:hidden">
            <button onclick="toggleNav()" class="flex items-center px-3 py-2 m-6 border rounded border-emerald-300 text-emerald-200 hover:text-white hover:border-white">
                <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div id="navContent" class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="font-semibold lg:flex-grow">
                <a href="/" class="block mt-4 mr-4 text-emerald-200 lg:inline-block lg:mt-0 hover:text-white transition ease-out">Home</a>
                <a href="/my-posts" class="block mt-4 mr-4 text-emerald-200 lg:inline-block lg:mt-0 hover:text-white transition ease-out">My posts</a>
            </div>
            <div>
                <a href="/create" class="inline-flex px-4 py-2 mt-4 border rounded text-white border-white fill-white lg:mt-0 hover:text-emerald-500 hover:fill-emerald-500 hover:bg-white transition ease-out">
                    <svg class="mt-1 mr-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
                        <path d="M12,2C6.477,2,2,6.477,2,12s4.477,10,10,10s10-4.477,10-10S17.523,2,12,2z M17,13h-4v4h-2v-4H7v-2h4V7h2v4h4V13z"></path>
                    </svg>
                    <text class="font-semibold">Create post</text>
                </a>
            </div>
        </div>
    </nav>
</header>