<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/js/fontawesome_eff69f9267.js" defer></script>
    <script src="/js/usernameHandler.js" type="module" defer></script>
    <script src="/js/homeHandler.js" defer></script>
    <script src="/js/navHandler.js" defer></script>
    <script src="/js/idb_util.js" defer></script>
    <script src="/js/new_sync_idb_util.js" defer></script>
    <script src="/js/updated_sync_idb_util.js" defer></script>
</head>
<body>
<%- include("partials/header.ejs"); %>
<main>
    <div class="flex lg:hidden">
        <button id="sidebarBtn" onclick="toggleSidebar()"
                class="mx-2 my-8 w-full rounded bg-gray-200 px-4 py-2 transition ease-in
                 hover:bg-gray-300 active:bg-gray-400">
            Sort/Filter
        </button>
    </div>
    <div class="flex bg-gray-100">
        <div id="sidebar" class="top-0 left-0 hidden w-full bg-gray-100 p-4 shadow-none lg:block lg:w-80 lg:shadow-2xl">
            <div class="block">
                <label for="sort-by" class="mb-3 inline-block w-full border-b-2 border-gray-300 pb-3 text-xl">
                    Sort by
                </label>
                <select id="sort-by" onchange="sortPlants(this.value)"
                        class="mb-6 w-full rounded bg-gray-200 px-4 py-2">
                    <option value="dateSeen-desc">Date Seen (Newest First)</option>
                    <option value="dateSeen-asc">Date Seen (Oldest First)</option>
                </select>
            </div>

            <h2 class="mb-3 inline-block min-w-full border-b-2 border-gray-300 pb-3 text-xl">Filters</h2>

            <!-- Colour Filter -->
            <label for="colour" class="mb-3 block text-gray-600">Colour</label>
            <select id="colour" class="w-full rounded bg-gray-200 px-4 py-2">
                <option value="Any">Any</option>
                <option value="Red">Red</option>
                <option value="Orange">Orange</option>
                <option value="Brown">Brown</option>
                <option value="Yellow">Yellow</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Purple">Purple</option>
                <option value="Pink">Pink</option>
                <option value="Black">Black</option>
                <option value="Grey">Grey</option>
                <option value="White">White</option>
            </select>

            <!-- Soil Filter -->
            <label for="soil" class="mt-3 mb-3 block border-t-2 border-gray-300 pt-3 text-gray-600">Soil Type</label>
            <select id="soil" class="w-full rounded bg-gray-200 px-4 py-2">
                <option value="no-preference">Any</option>
                <option value="None">None</option>
                <option value="Chalk">Chalk</option>
                <option value="Clay">Clay</option>
                <option value="Loam">Loam</option>
                <option value="Sand">Sand</option>
            </select>

            <!-- Sunlight Filter -->
            <label for="sunlight" class="mt-3 mb-3 block border-t-2 border-gray-300 pt-3 text-gray-600">
                Sunlight Exposure
            </label>
            <select id="sunlight" class="w-full rounded bg-gray-200 px-4 py-2">
                <option value="no-preference">Any</option>
                <option value="Shaded">Shaded</option>
                <option value="Dappled">Dappled</option>
                <option value="Partial">Partial</option>
                <option value="Full">Full</option>
            </select>

            <!-- Status filter -->
            <h3 class="mt-3 border-t-2 border-gray-300 pt-3 text-gray-600">Status</h3>
            <div id="statusFilter" class="flex justify-between pb-3">
                <label for="status-no-preference" class="relative cursor-pointer">
                    <input type="radio" id="status-no-preference" name="status" value="no-preference"
                           class="sr-only peer" checked>
                    <svg viewBox="0 0 1024 1024" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path d="M512 128c-211.2 0-384 172.8-384 384s172.8 384 384 384 384-172.8 384-384-172.8-384-384-384zm0 85.333c66.133 0 128 23.467 179.2 59.734L273.067 691.2C236.8 640 213.333 578.133 213.333 512c0-164.267 134.4-298.667 298.667-298.667zm0 597.334c-66.133 0-128-23.467-179.2-59.734L750.933 332.8C787.2 384 810.667 445.867 810.667 512c0 164.267-134.4 298.667-298.667 298.667z" fill="#a0a0a0"/>
                    </svg>
                </label>
                <label for="status-no" class="relative cursor-pointer">
                    <input type="radio" id="status-no" name="status" value="no" class="sr-only peer">
                    <svg viewBox="0 0 24 24" fill="none"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <g stroke="#fbbf34" stroke-width="1.5">
                            <path d="m12 12-2.958 2.929c-2.922 2.894-4.383 4.341-3.974 5.59.035.107.078.211.13.312C5.8 22 7.867 22 12 22c4.133 0 6.2 0 6.802-1.17.052-.1.095-.204.13-.311.41-1.249-1.052-2.696-3.974-5.59L12 12Zm0 0 2.958-2.929c2.922-2.894 4.383-4.341 3.974-5.59a2.12 2.12 0 0 0-.13-.312C18.2 2 16.133 2 12 2 7.867 2 5.8 2 5.198 3.17c-.052.1-.095.204-.13.311-.41 1.249 1.052 2.696 3.974 5.59L12 12Z"/><path d="M10 5.5h4M10 18.5h4" stroke-linecap="round"/>
                        </g>
                    </svg>
                </label>
                <label for="status-yes" class="relative cursor-pointer">
                    <input type="radio" id="status-yes" name="status" value="yes" class="sr-only peer">
                    <svg viewBox="0 0 16 16" fill="#4ade80"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path fill="none" d="M0 0h16v16H0z"/><path d="M2 9.014 3.414 7.6l2.59 2.589L12.593 3.6l1.414 1.414-8.004 8.003L2 9.014Z"/>
                    </svg>
                </label>
            </div>

            <!-- Flowering Filter -->
            <h3 class="mb-2 text-gray-600">Flowering</h3>
            <div id="flowersFilter" class="mb-3 flex justify-between border-b-2 border-gray-300 pb-3">
                <label for="flowers-no-preference" class="relative cursor-pointer">
                    <input type="radio" id="flowers-no-preference" name="flowers" value="no-preference"
                           class="sr-only peer" checked>
                    <svg viewBox="0 0 1024 1024" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path d="M512 128c-211.2 0-384 172.8-384 384s172.8 384 384 384 384-172.8 384-384-172.8-384-384-384zm0 85.333c66.133 0 128 23.467 179.2 59.734L273.067 691.2C236.8 640 213.333 578.133 213.333 512c0-164.267 134.4-298.667 298.667-298.667zm0 597.334c-66.133 0-128-23.467-179.2-59.734L750.933 332.8C787.2 384 810.667 445.867 810.667 512c0 164.267-134.4 298.667-298.667 298.667z" fill="#a0a0a0"/>
                    </svg>
                </label>
                <label for="flowers-no" class="relative cursor-pointer">
                    <input type="radio" id="flowers-no" name="flowers" value="no" class="sr-only peer">
                    <svg viewBox="-3.04 -3.04 22.08 22.08" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400 fill-red-400
                                stroke-red-400">
                        <path d="M0 14.545 1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"/>
                    </svg>
                </label>
                <label for="flowers-yes" class="relative cursor-pointer">
                    <input type="radio" id="flowers-yes" name="flowers" value="yes" class="sr-only peer">
                    <svg viewBox="0 0 512 512" aria-hidden="true"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path fill="#2BA52E" d="M425.273 383.185c-.04-.679-.038-1.3-.129-1.855l-.276-1.452c-.339-1.741-.597-2.71-.597-2.71a3.1 3.1 0 0 0-4.081-2.107s-.938.351-2.554 1.082c-1.673.886-3.827 1.46-6.502 2.393a70.25 70.25 0 0 1-9.159 2.33c-3.33.612-6.85.957-10.468 1.069-3.631.114-7.342.037-11.303-.104a770.812 770.812 0 0 0-12.697-.414 273.164 273.164 0 0 0-14.642-.007c-5.208.153-10.802.454-16.672 1.088-5.884.611-12.08 1.56-18.531 3.086-6.452 1.551-13.16 3.656-19.985 6.735-6.606 2.983-13.369 6.953-19.53 12.191v-93.184c0-12.23-9.915-22.146-22.146-22.146s-22.146 9.915-22.146 22.146v93.763l-.023-.021c-6.273-5.49-13.23-9.62-20.012-12.704-6.814-3.095-13.512-5.211-19.946-6.767-6.433-1.532-12.606-2.484-18.465-3.096-5.842-.635-11.411-.938-16.585-1.092a267.674 267.674 0 0 0-14.547.005c-4.525.108-8.649.252-12.609.413-3.93.137-7.627.216-11.242.1-3.604-.114-7.115-.463-10.436-1.077a70.691 70.691 0 0 1-9.139-2.329c-2.666-.927-4.822-1.505-6.491-2.383-1.613-.727-2.55-1.075-2.55-1.075a3.106 3.106 0 0 0-4.081 2.107s-.259.965-.602 2.701l-.278 1.448c-.095.551-.092 1.171-.135 1.847l-.071 2.221c-.006.819.046 1.567.082 2.442.084 3.482.795 7.643 2.336 12.352 1.553 4.687 4.088 9.837 7.709 14.867 3.604 5.03 8.271 9.927 13.613 14.221 5.327 4.282 11.327 8.023 17.489 11.072 6.167 3.102 12.544 5.538 18.788 7.49 6.272 1.957 12.399 3.409 18.247 4.54a187.11 187.11 0 0 0 8.498 1.464c2.718.409 5.374.748 7.878 1.017 5.012.535 9.531.835 13.329.955 3.824.115 6.875.02 9.357-.295 2.476-.288 4.49-.89 6.801-1.04 2.328-.199 4.901.342 7.479 1.571 2.56 1.215 5.003 3.006 7.035 4.777 2.05 1.755 3.722 3.441 4.912 4.634 1.172 1.197 1.909 1.886 1.909 1.886l.587.549.116.105c.331.294.683.546 1.046.774v17.031c0 12.23 9.915 22.146 22.146 22.146s22.146-9.915 22.146-22.146v-17.694c.094-.08.191-.153.281-.238l.563-.527s.737-.691 1.909-1.892c1.191-1.196 2.863-2.887 4.918-4.642 2.036-1.77 4.48-3.56 7.047-4.76 2.577-1.22 5.158-1.73 7.488-1.528 2.315.155 4.35.746 6.872 1.022 2.518.303 5.623.39 9.491.273 3.841-.123 8.4-.423 13.446-.957 2.52-.268 5.193-.607 7.925-1.015 2.77-.405 5.605-.893 8.539-1.461 5.872-1.128 12.024-2.578 18.315-4.529 6.266-1.948 12.659-4.375 18.847-7.469 6.18-3.035 12.204-6.769 17.557-11.041 5.368-4.276 10.068-9.172 13.705-14.2 3.655-5.029 6.224-10.187 7.803-14.884 1.571-4.719 2.297-8.896 2.395-12.389.039-.877.093-1.63.091-2.449a83.92 83.92 0 0 0-.065-2.234z"/><path fill="#FFB636" d="M434.423 175.192s-1.394-1.143-4.008-2.987a113.036 113.036 0 0 0-4.813-3.271 157.394 157.394 0 0 0-6.512-4.105c-4.145-2.491-9.051-5.224-14.598-8.034 3.931-4.818 7.307-9.307 10.085-13.265a155.863 155.863 0 0 0 4.287-6.394 113.026 113.026 0 0 0 3.073-4.942c1.641-2.746 2.451-4.356 2.451-4.356.471-.951.903-2.042 1.196-3.104 2.483-9.001-2.801-18.31-11.802-20.794 0 0-1.738-.479-4.875-1.105a111.678 111.678 0 0 0-5.727-1.037 155.557 155.557 0 0 0-7.617-1.11c-3.16-.392-6.673-.745-10.469-1.032a221.49 221.49 0 0 0 2.8-10.141 156.026 156.026 0 0 0 1.702-7.507 112.82 112.82 0 0 0 1.091-5.717c.544-3.152.722-4.946.722-4.946.098-1.057.108-2.23 0-3.326-.919-9.292-9.196-16.08-18.488-15.161 0 0-1.794.177-4.946.722a112.13 112.13 0 0 0-5.717 1.091c-2.23.449-4.754 1.005-7.507 1.702-4.693 1.169-10.094 2.706-16.004 4.642-.628-6.186-1.414-11.747-2.249-16.51-.48-2.799-.995-5.332-1.489-7.552a112.174 112.174 0 0 0-1.322-5.667c-.781-3.102-1.347-4.813-1.347-4.813a17.986 17.986 0 0 0-1.349-3.04c-4.609-8.12-14.928-10.967-23.048-6.358 0 0-1.568.89-4.228 2.666a112.073 112.073 0 0 0-4.783 3.316 156.548 156.548 0 0 0-6.171 4.601 221.035 221.035 0 0 0-8.133 6.673 220.56 220.56 0 0 0-5.191-9.151 156.338 156.338 0 0 0-4.105-6.512 111.766 111.766 0 0 0-3.271-4.813c-1.844-2.614-2.987-4.008-2.987-4.008a17.96 17.96 0 0 0-2.352-2.352c-7.22-5.921-17.872-4.868-23.793 2.352 0 0-1.143 1.394-2.987 4.008a112.397 112.397 0 0 0-3.271 4.813 157.394 157.394 0 0 0-4.105 6.512c-2.494 4.148-5.229 9.059-8.041 14.612-4.819-3.934-9.308-7.313-13.267-10.093a157.861 157.861 0 0 0-6.39-4.289 112.622 112.622 0 0 0-4.94-3.074c-2.744-1.642-4.353-2.452-4.353-2.452a17.933 17.933 0 0 0-3.12-1.202c-8.998-2.477-18.301 2.809-20.778 11.807 0 0-.478 1.737-1.102 4.873-.318 1.571-.7 3.504-1.034 5.725a155.575 155.575 0 0 0-1.107 7.616 220.1 220.1 0 0 0-1.03 10.487 220.755 220.755 0 0 0-10.158-2.809 156.007 156.007 0 0 0-7.505-1.705 113.249 113.249 0 0 0-5.714-1.093c-3.151-.546-4.944-.724-4.944-.724a17.862 17.862 0 0 0-3.343 0c-9.287.923-16.068 9.2-15.144 18.487 0 0 .178 1.793.724 4.944.268 1.58.606 3.521 1.093 5.714.45 2.23 1.007 4.753 1.705 7.505 1.172 4.698 2.713 10.106 4.654 16.024-6.196.626-11.764 1.412-16.533 2.246-2.799.479-5.331.993-7.551 1.486-2.202.445-4.113.923-5.666 1.319-3.101.779-4.812 1.344-4.812 1.344a17.971 17.971 0 0 0-3.056 1.356c-8.114 4.611-10.954 14.927-6.343 23.042 0 0 .89 1.567 2.667 4.225a112.314 112.314 0 0 0 3.317 4.78 156.712 156.712 0 0 0 4.602 6.168c1.961 2.515 4.2 5.252 6.687 8.144a222.178 222.178 0 0 0-9.169 5.196 157.619 157.619 0 0 0-6.512 4.101 112.641 112.641 0 0 0-4.813 3.268c-2.614 1.842-4.008 2.984-4.008 2.984a18.02 18.02 0 0 0-2.364 2.364c-5.914 7.22-4.856 17.867 2.364 23.781 0 0 1.394 1.142 4.008 2.984 1.307.928 2.919 2.061 4.813 3.268a156.56 156.56 0 0 0 6.512 4.101c4.151 2.493 9.065 5.228 14.622 8.04-3.938 4.824-7.321 9.317-10.103 13.279a157.143 157.143 0 0 0-4.289 6.391 112.622 112.622 0 0 0-3.074 4.94c-1.642 2.744-2.452 4.353-2.452 4.353a17.933 17.933 0 0 0-1.202 3.12c-2.477 8.998 2.809 18.301 11.808 20.778 0 0 1.737.478 4.873 1.102 1.571.318 3.504.7 5.725 1.035 2.242.382 4.797.769 7.616 1.107a220.1 220.1 0 0 0 10.487 1.03 220.715 220.715 0 0 0-2.809 10.156 156.007 156.007 0 0 0-1.705 7.505 113.249 113.249 0 0 0-1.093 5.714c-.545 3.151-.724 4.944-.724 4.944a17.947 17.947 0 0 0 0 3.343c.923 9.287 9.2 16.068 18.488 15.145 0 0 1.793-.178 4.944-.724 1.58-.268 3.521-.606 5.714-1.093 2.23-.45 4.753-1.007 7.505-1.705 4.698-1.172 10.106-2.713 16.024-4.654.626 6.196 1.412 11.765 2.246 16.535a157.05 157.05 0 0 0 1.486 7.551c.445 2.202.923 4.113 1.319 5.666.779 3.101 1.344 4.812 1.344 4.812a17.971 17.971 0 0 0 1.356 3.056c4.611 8.114 14.927 10.954 23.042 6.343 0 0 1.567-.89 4.225-2.667a113.247 113.247 0 0 0 4.78-3.317 155.814 155.814 0 0 0 6.168-4.603 221.768 221.768 0 0 0 8.145-6.688 221.493 221.493 0 0 0 5.195 9.168 157.619 157.619 0 0 0 4.101 6.512 112.007 112.007 0 0 0 3.268 4.813c1.842 2.614 2.984 4.007 2.984 4.007a18.02 18.02 0 0 0 2.364 2.364c7.22 5.914 17.867 4.856 23.781-2.364 0 0 1.142-1.394 2.984-4.007a113.283 113.283 0 0 0 3.268-4.813 156.56 156.56 0 0 0 4.101-6.512c2.491-4.147 5.223-9.057 8.032-14.608 4.823 3.935 9.316 7.314 13.278 10.095a155.863 155.863 0 0 0 6.394 4.287 113.026 113.026 0 0 0 4.942 3.073c2.745 1.641 4.356 2.451 4.356 2.451.952.471 2.042.903 3.104 1.196 9.001 2.483 18.311-2.801 20.794-11.802 0 0 .479-1.738 1.104-4.875.319-1.571.701-3.504 1.037-5.727.383-2.243.771-4.798 1.11-7.617.392-3.16.745-6.673 1.032-10.469a221.099 221.099 0 0 0 10.139 2.8c2.753.697 5.277 1.253 7.507 1.702 2.194.485 4.135.824 5.717 1.09 3.152.544 4.946.722 4.946.722 1.057.097 2.231.108 3.326 0 9.292-.919 16.08-9.196 15.161-18.488 0 0-.177-1.794-.722-4.946a112.13 112.13 0 0 0-1.091-5.717 156.026 156.026 0 0 0-1.702-7.507c-1.169-4.693-2.706-10.094-4.642-16.003 6.187-.628 11.748-1.414 16.512-2.249 2.799-.48 5.332-.995 7.553-1.49 2.203-.446 4.114-.925 5.667-1.322 3.102-.781 4.813-1.347 4.813-1.347a17.986 17.986 0 0 0 3.04-1.349c8.12-4.609 10.967-14.928 6.358-23.048 0 0-.89-1.568-2.666-4.228a112.073 112.073 0 0 0-3.316-4.783 156.548 156.548 0 0 0-4.601-6.171 221.035 221.035 0 0 0-6.673-8.133 221.687 221.687 0 0 0 9.15-5.19 156.338 156.338 0 0 0 6.512-4.105 111.766 111.766 0 0 0 4.813-3.271c2.614-1.844 4.008-2.987 4.008-2.987a17.96 17.96 0 0 0 2.352-2.352c5.925-7.219 4.872-17.872-2.348-23.792z"/><circle fill="#68442A" cx="256" cy="188.266" r="94.684"/>
                    </svg>
                </label>
            </div>

            <!-- Leafy Filter -->
            <h3 class="mb-2 text-gray-600">Leafy</h3>
            <div id="leavesFilter" class="mb-3 flex justify-between border-b-2 border-gray-300 pb-3">
                <label for="leaves-no-preference" class="relative cursor-pointer">
                    <input type="radio" id="leaves-no-preference" name="leaves" value="no-preference"
                           class="sr-only peer" checked>
                    <svg viewBox="0 0 1024 1024" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path d="M512 128c-211.2 0-384 172.8-384 384s172.8 384 384 384 384-172.8 384-384-172.8-384-384-384zm0 85.333c66.133 0 128 23.467 179.2 59.734L273.067 691.2C236.8 640 213.333 578.133 213.333 512c0-164.267 134.4-298.667 298.667-298.667zm0 597.334c-66.133 0-128-23.467-179.2-59.734L750.933 332.8C787.2 384 810.667 445.867 810.667 512c0 164.267-134.4 298.667-298.667 298.667z" fill="#a0a0a0"/>
                    </svg>
                </label>
                <label for="leaves-no" class="relative cursor-pointer">
                    <input type="radio" id="leaves-no" name="leaves" value="no" class="sr-only peer">
                    <svg viewBox="-3.04 -3.04 22.08 22.08" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400 fill-red-400
                                stroke-red-400">
                        <path d="M0 14.545 1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"/>
                    </svg>
                </label>
                <label for="leaves-yes" class="relative cursor-pointer">
                    <input type="radio" id="leaves-yes" name="leaves" value="yes" class="sr-only peer">
                    <svg viewBox="0 0 64 64" aria-hidden="true"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <g fill="none" fill-rule="evenodd"><path fill="#80D25B" d="M27.667 42.85c7.077 5.143 18.93 3.203 24.072-3.874 5.142-7.078 7.747-34.76 7.747-34.76S32.68 12.068 26.32 19.065c-6.36 6.995-5.731 18.642 1.347 23.784Z"/><path stroke="#22BA8E" stroke-linecap="round" stroke-width="3" d="M49.76 15.867s-14.576 8.948-19.877 25.426C24.582 57.773 8.882 55.901 8.882 55.901"/><path stroke="#22BA8E" stroke-linecap="round" stroke-width="2" d="m41.946 36.659-9.744-.414-4.716-8.309M44.938 27.965l-6.644-1.359-2.134-5.418"/></g>
                    </svg>
                </label>
            </div>

            <!-- Fragrant Filter -->
            <h3 class="mb-2 text-gray-600">Fragrant</h3>
            <div id="fragranceFilter" class="mb-3 flex justify-between border-b-2 border-gray-300 pb-3">
                <label for="fragrance-no-preference" class="relative cursor-pointer">
                    <input type="radio" id="fragrance-no-preference" name="fragrance" value="no-preference"
                           class="sr-only peer" checked>
                    <svg viewBox="0 0 1024 1024" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path d="M512 128c-211.2 0-384 172.8-384 384s172.8 384 384 384 384-172.8 384-384-172.8-384-384-384zm0 85.333c66.133 0 128 23.467 179.2 59.734L273.067 691.2C236.8 640 213.333 578.133 213.333 512c0-164.267 134.4-298.667 298.667-298.667zm0 597.334c-66.133 0-128-23.467-179.2-59.734L750.933 332.8C787.2 384 810.667 445.867 810.667 512c0 164.267-134.4 298.667-298.667 298.667z" fill="#a0a0a0"/>
                    </svg>
                </label>
                <label for="fragrance-no" class="relative cursor-pointer">
                    <input type="radio" id="fragrance-no" name="fragrance" value="no" class="sr-only peer">
                    <svg viewBox="-3.04 -3.04 22.08 22.08" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400 fill-red-400
                                stroke-red-400">
                        <path d="M0 14.545 1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"/>
                    </svg>
                </label>
                <label for="fragrance-yes" class="relative cursor-pointer">
                    <input type="radio" id="fragrance-yes" name="fragrance" value="yes" class="sr-only peer">
                    <svg viewBox="0 0 512 512" aria-hidden="true"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400
                                fill-green-400">
                        <path d="M226.9 19.77c-20.6 8.84-38 18.37-51.8 28.22-.2-6.01-5.1-10.85-11.1-10.85-6.2 0-11.2 4.99-11.2 11.14 0 5.17 3.6 9.51 8.3 10.77-36 32.14-35.4 66.15 7.1 89.05-1 2.1-1.6 4.5-1.6 7 0 8.7 7.1 15.7 15.8 15.7 7 0 12.9-4.5 14.9-10.7 26.3 7.8 50.8 10.2 72.9 13.3 61.8 10.3 76.9 45.6 66.1 85.1 27.1-22.6 28.9-44.3 18.4-62.9 34.6 19.9 33.7 50.7-36.6 87.5 10.1.3 19.8.4 29.1.1 67-11.7 77.5-46.3 58.8-62.3 47.9 6.4 41.2 36.2 8.2 53.6 35.2-9.8 53.2-27.6 48-51.4 3.1-2 5.1-5.4 5.1-9.3 0-6.1-5-11.1-11.2-11.1-1.3 0-2.5.2-3.6.6-11.7-20.6-33.1-33.4-53.1-39.7-23-7.4-53.4-12.9-92.8-32-53.4-23.9-58.6-43.21-33.8-58.21 1 5.1 5.5 8.9 10.9 8.9 6.2 0 11.2-5 11.2-11.1 0-2.6-.9-4.9-2.3-6.82 41.7-14.93 117.3-24.23 199.8-28.06V19.77zM125.2 48.9c-5.8 0-10.6 4.49-11 10.2-.7-.1-1.4-.16-2.1-.16-7.8 0-14.15 6.35-14.15 14.15 0 7.8 6.35 14.2 14.15 14.2 7.7 0 14.1-6.4 14.1-14.2 0-.7-.1-1.3-.2-2 5.8-.4 10.3-5.2 10.3-11.05 0-6.16-5-11.14-11.1-11.14zm356.7 1.97c-79.6-.35-175.4 17.32-168.1 54.43-4.8 1.3-8.3 5.6-8.3 10.8 0 6.1 5 11.1 11.1 11.1 4.7 0 8.7-2.8 10.3-6.9 31.3 13.7 56.1 18.4 78.2 25.5.5.1 1.1.3 1.6.5-3.9-16.5 4.3-33.4 25-44.6 1.4 4.6 5.7 7.9 10.7 7.9 6.2 0 11.1-5 11.1-11.21 0-1.7-.3-3.3-1-4.7 11.2-3 24.5-4.8 39.9-4.9V51.02c-3.5-.1-7-.14-10.5-.15zM229 54.58c-29.4 24.11-33.8 78.42 46.3 91.22-50.3 11-83.5-8.5-93.1-32.5.8.2 1.7.3 2.5.3 6.2 0 11.2-5 11.2-11.1 0-6.21-5-11.21-11.2-11.21-1.7 0-3.3.4-4.8 1.1 3.1-17.1 18.7-32.67 49.1-37.81zm239.6 55.32c-6.2 0-11.2 5-11.2 11.1 0 4.4 2.5 8.2 6.2 10-1 2-1.6 4.2-1.6 6.6 0 8.1 6.6 14.7 14.7 14.7 8.2 0 14.7-6.6 14.7-14.7 0-7.2-5.1-13.2-11.9-14.5.2-.6.2-1.3.2-2.1 0-6.1-5-11.1-11.1-11.1zm-350.2 9.3c-6.1 0-11.1 5-11.1 11.1 0 6.2 5 11.2 11.1 11.2s11-5 11-11.2c0-6.1-4.9-11.1-11-11.1zm317.2 6.5c-6.1 0-11.1 4.9-11.1 11.1 0 6.1 5 11.1 11.1 11.1 6.2 0 11.2-5 11.2-11.1 0-6.2-5-11.1-11.2-11.1zm-193.4 60.1c-6.2 0-11.1 5-11.1 11.1 0 6.2 4.9 11.2 11.1 11.2 6.1 0 11.1-5 11.1-11.2 0-6.1-5-11.1-11.1-11.1zm-95.8 46.1c-9.5-3.1-23.9-9-32.2-2.8-3.8 3.1-6.2 9.4-4.3 20.1 2.2 12.2 10.3 28.4 25 44.6 17.6-23.5 52.3-33.2 81-21.4.4-32-6.5-51.2-16.5-56.9-20.5-11.6-39.9 2.4-53 16.4zm116.7 8.2c-12.9 6.8-26.6 18.6-38.5 36.6 14 8.2 24.9 21.1 30.5 36.6 29.3-20.3 45.4-38.3 51.8-51.4 4.5-9.2 5.6-21.2-3.2-26.2-12.7-6.2-30.1-.9-40.6 4.4zm200.8 36.2c-6.2 0-11.2 5-11.2 11.2 0 6.1 5 11.1 11.2 11.1 6.1 0 11.1-5 11.1-11.1 0-6.2-5-11.2-11.1-11.2zm-401.95 7.1c-9.59.4-29.21 2.2-28.7 14.2.5 7.8 11.4 23.6 34.7 35.8 13.9 7.3 31.9 13.4 53.35 17-2.5-13.2-.9-28 3.6-39.4-6.5-6.8-12.2-13.7-16.9-20.6-19.05-5.1-34.35-7.2-46.05-7zM174.8 288l4.2 34.9-25.7-21.9c-8.9 9-14.5 21.4-14.6 35.1l34.4 4.1-28.4 20.7c6.8 12.8 19 22.3 33.5 25.6l10.8-35.9 15.5 34.9c14.6-4.4 26.3-15.2 32.1-29.1l-27.1-13.9 30.9-9.3c-.8-11-5-21-11.6-29l-27 17.4 7.5-31.8c-11.7-4.3-23.4-5-34.5-1.8zm118.5 19.5c-9.3 8.3-20.6 16.9-34.2 25.7.4 15.1-5.5 33.2-12.8 43.8 31.4 12.2 57.3 19.2 77.3 21.9 12.3.4 49.2 5.7 54.1-10.1 5-16-28.3-34.8-37.3-39.9 20-16.4 18-32.8-.8-41.2-15.4-6.9-31.8-4.8-46.3-.2zM82.15 359.8c-22.97 6.3-67.26 19.3-62.1 44.2 4.35 21 43.69 14.8 62.9 13.4-4.97 12.8-13.25 34.5-4.5 45.1 4.6 5.3 13.3 8.1 24.55 6 20.9-3.9 48.2-25 55.9-69.2-12.8-6.3-23.3-16.4-30.2-28.9-17.3-2.1-32.85-5.8-46.55-10.6zm150.15 31.9c-5.4 4.2-11.5 7.7-18 10.1 19.8 36.8 38.2 60.3 53.1 72.9 7.5 5.8 24.7 18.7 32.7 9.2 4.8-5.5 7.3-23.4-2.1-47.4-3.3-8.4-8-17.5-14.2-27-15.4-4.3-32.6-10.2-51.5-17.8zm-55.5 13.5c-4.5 23.3-14.1 41.6-26 55.1 4.4 16.9 19.5 33 35.1 31.4 18.6-1.9 30.3-25.1 33.3-45-7.8-11.6-15.8-25-23.9-40.5-6.2.4-12.9 0-18.5-1z"/>
                    </svg>
                </label>
            </div>

            <!-- Fruiting Filter -->
            <h3 class="mb-2 text-gray-600">Fruiting</h3>
            <div id="fruitFilter" class="mb-3 flex justify-between border-b-2 border-gray-300 pb-3">
                <label for="fruit-no-preference" class="relative cursor-pointer">
                    <input type="radio" id="fruit-no-preference" name="fruit" value="no-preference" class="sr-only peer"
                           checked>
                    <svg viewBox="0 0 1024 1024" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path d="M512 128c-211.2 0-384 172.8-384 384s172.8 384 384 384 384-172.8 384-384-172.8-384-384-384zm0 85.333c66.133 0 128 23.467 179.2 59.734L273.067 691.2C236.8 640 213.333 578.133 213.333 512c0-164.267 134.4-298.667 298.667-298.667zm0 597.334c-66.133 0-128-23.467-179.2-59.734L750.933 332.8C787.2 384 810.667 445.867 810.667 512c0 164.267-134.4 298.667-298.667 298.667z" fill="#a0a0a0"/>
                    </svg>
                </label>
                <label for="fruit-no" class="relative cursor-pointer">
                    <input type="radio" id="fruit-no" name="fruit" value="no" class="sr-only peer">
                    <svg viewBox="-3.04 -3.04 22.08 22.08" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400 fill-red-400 stroke-red-400">
                        <path d="M0 14.545 1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z"
                              fill-rule="evenodd"/>
                    </svg>
                </label>
                <label for="fruit-yes" class="relative cursor-pointer">
                    <input type="radio" id="fruit-yes" name="fruit" value="yes" class="sr-only peer">
                    <svg viewBox="-76.8 -76.8 665.6 665.6" aria-hidden="true"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path style="fill:#e17858" d="M170.98 166.794C76.702 166.794 0 243.494 0 337.774c0 94.277 76.702 170.98 170.98 170.98s170.98-76.703 170.98-170.98c.001-94.28-76.701-170.98-170.98-170.98z"/><path style="fill:#dd512a" d="M170.98 166.794v341.961c94.279 0 170.98-76.703 170.98-170.98.001-94.281-76.701-170.981-170.98-170.981z"/><path style="fill:#78b86d" d="M170.98 47.863c-12.317 0-22.302 9.985-22.302 22.302v118.931c0 12.315 9.985 22.302 22.302 22.302s22.302-9.987 22.302-22.302V70.165c0-12.318-9.985-22.302-22.302-22.302z"/><path style="fill:#a8da64" d="M189.952 60.074c-1.433-2.321-35.765-56.826-92.155-56.828-45.1.003-84.443 47.552-88.78 52.974a22.298 22.298 0 0 0-1.709 25.406c1.357 2.263 33.909 55.432 90.489 55.432 55.909 0 90.313-50.745 91.751-52.906a22.304 22.304 0 0 0 .404-24.078z"/><path style="fill:#f4d853" d="M463.161 284.769c12.877-49.952 12.623-102.686-.729-152.504a22.317 22.317 0 0 0-5.773-9.997l-48.808-48.807a22.3 22.3 0 0 0-23.561-5.126 22.297 22.297 0 0 0-14.453 19.301c-4.3 59.959-47.996 138.232-114.039 204.274-66.043 66.043-144.315 109.741-204.274 114.038a22.305 22.305 0 0 0-14.175 38.016l48.808 48.808a22.324 22.324 0 0 0 9.997 5.773c49.816 13.351 102.551 13.604 152.501.73 51.484-13.273 98.671-40.259 136.459-78.047 37.789-37.79 64.776-84.976 78.047-136.459z"/><path style="fill:#e9a440" d="M463.161 284.769c12.877-49.952 12.623-102.686-.729-152.504a22.317 22.317 0 0 0-5.773-9.997l-17.076-17.074c-9.316 91.702-49.088 180.896-119.346 251.157-70.261 70.26-159.453 110.033-251.155 119.347l17.074 17.074a22.324 22.324 0 0 0 9.997 5.773c49.816 13.351 102.551 13.604 152.501.73 51.484-13.273 98.671-40.259 136.459-78.047 37.79-37.79 64.777-84.976 78.048-136.459z"/><path style="fill:#dd512a" d="m505.469 73.457-48.808-48.81a22.302 22.302 0 0 0-31.539 0l-48.808 48.81c-8.71 8.708-8.71 22.828 0 31.539l48.808 48.808a22.295 22.295 0 0 0 31.539 0l48.808-48.808c8.709-8.71 8.709-22.83 0-31.539z"/>
                    </svg>
                </label>
            </div>

            <!-- Native Filter -->
            <h3 class="mb-2 text-gray-600">Native</h3>
            <div id="nativeFilter" class="flex justify-between pb-3">
                <label for="native-no-preference" class="relative cursor-pointer">
                    <input type="radio" id="native-no-preference" name="native" value="no-preference"
                           class="sr-only peer" checked>
                    <svg viewBox="0 0 1024 1024" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400">
                        <path d="M512 128c-211.2 0-384 172.8-384 384s172.8 384 384 384 384-172.8 384-384-172.8-384-384-384zm0 85.333c66.133 0 128 23.467 179.2 59.734L273.067 691.2C236.8 640 213.333 578.133 213.333 512c0-164.267 134.4-298.667 298.667-298.667zm0 597.334c-66.133 0-128-23.467-179.2-59.734L750.933 332.8C787.2 384 810.667 445.867 810.667 512c0 164.267-134.4 298.667-298.667 298.667z" fill="#a0a0a0"/>
                    </svg>
                </label>
                <label for="native-no" class="relative cursor-pointer">
                    <input type="radio" id="native-no" name="native" value="no" class="sr-only peer">
                    <svg viewBox="-3.04 -3.04 22.08 22.08" xml:space="preserve"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400 fill-red-400
                                stroke-red-400">
                        <path d="M0 14.545 1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"/>
                    </svg>
                </label>
                <label for="native-yes" class="relative cursor-pointer">
                    <input type="radio" id="native-yes" name="native" value="yes" class="sr-only peer">
                    <svg viewBox="0 0 24 24"
                         class="h-14 w-14 rounded-md border-2 border-gray-300 peer-checked:border-blue-400
                                fill-transparent stroke-green-400">
                        <path class="cls-1" d="m1 10.5 11-9 11 9"/><path class="cls-1" d="M20 7.5v15H4v-15m18 15H2"/><path class="cls-1" d="M7 10.5h.77A4.23 4.23 0 0 1 12 14.73v.77h-.77A4.23 4.23 0 0 1 7 11.27v-.77ZM12.77 16.5H12v-.77a4.23 4.23 0 0 1 4.23-4.23H17v.77a4.23 4.23 0 0 1-4.23 4.23ZM12 21.5v-7"/>
                    </svg>
                </label>
            </div>
        </div>

        <div id="photo-grid"></div>
    </div>
</main>
</body>
</html>
