<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="" defer></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/map.css">
    <script src="js/map.js" defer></script>
    <script src="js/usernameHandler.js" type="module" defer></script>
    <script src="js/formHandler.js" defer></script>
    <script src="js/navHandler.js" defer></script>
</head>
<body>
<%- include("partials/header.ejs") %>
<main>
    <form id="form" action="/add" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="nickname" name="nickname">
        <label for="name">name: </label>
        <input type="text" id="name" name="name" required>
        <div>
            <div id="submitDiv">
                <input type="file" id="image" name="image" accept="image/*"><br>
                <label for="imageUrl">or upload from URL</label><br>
                <input type="text" id="imageUrl" name="imageUrl" placeholder="Enter URL to photo...">
            </div>
            <div id="previewDiv" hidden>
                <img src="" id="previewImage" alt="Image preview"/>
                <button id="cancelImage" type="button" onclick="cancelUpload()">Upload a different image</button>
            </div>
            <input type="hidden" id="image" name="image"/>
        </div>
        <br>
        <br>
        <label for="dateSeen">Date Seen: </label>
        <input type="datetime-local" id="dateSeen" name="dateSeen" required>
        <br>
        <br>
        <label for="description">Description: </label>
        <textarea id="description" name="description" rows="4" cols="25" required></textarea>
        <br>
        <br>
        <div>
            <div id="map"></div>
            <button id="find-me" type="button">Find my location</button>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
        </div>
        <br>
        <br>
        <!-- Height -->
        <label for="height">Height: </label>
        <select id="height" name="height" required>
            <option value="None">None</option>
            <option value="<0.1m"><0.1m</option>
            <option value="0.1-0.5m">0.1-0.5m</option>
            <option value="0.5-1m">0.5-1m</option>
            <option value="1-2m">1-2m</option>
            <option value="2-4m">2-4m</option>
            <option value="4-8m">4-8m</option>
            <option value="8+m">8+m</option>
        </select>
        <br>
        <br>
        <!-- Spread -->
        <label for="spread">Spread: </label>
        <select id="spread" name="spread" required>
            <option value="None">None</option>
            <option value="<0.1m"><0.1m</option>
            <option value="0.1-0.5m">0.1-0.5m</option>
            <option value="0.5-1m">0.5-1m</option>
            <option value="1-2m">1-2m</option>
            <option value="2-4m">2-4m</option>
            <option value="4-8m">4-8m</option>
            <option value="8+m">8+m</option>
        </select>
        <br>
        <br>
        <!-- Sunlight -->
        <label for="sunlight">Sunlight: </label>
        <select id="sunlight" name="sunlight" required>
            <option value="None">None</option>
            <option value="Shaded">Shaded</option>
            <option value="Dappled">Dappled</option>
            <option value="Partial">Partial</option>
            <option value="Full">Full</option>
        </select>
        <br>
        <br>
        <!-- Soil Type -->
        <label for="soilType">Soil Type: </label>
        <select id="soilType" name="soilType" required>
            <option value="None">None</option>
            <option value="Chalk">Chalk</option>
            <option value="Clay">Clay</option>
            <option value="Loam">Loam</option>
            <option value="Sand">Sand</option>
        </select>
        <br>
        <br>
        <label for="colour">Colour: </label>
        <select id="colour" name="colour">
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Brown">Brown</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Purple">Purple</option>
            <option value="Pink">Pink</option>
            <option value="Black">Black</option>
            <option value="Grey">Grey</option>
            <option value="White">White</option>
        </select>
        <br>
        <br>
        <input type="checkbox" id="flowering" name="flowering">
        <label for="flowering">Flowering</label>
        <br>
        <input type="checkbox" id="leafy" name="leafy">
        <label for="leafy">Leafy</label>
        <br>
        <input type="checkbox" id="fragrant" name="fragrant">
        <label for="fragrant">Fragrant</label>
        <br>
        <input type="checkbox" id="fruiting" name="fruiting">
        <label for="fruiting">Fruiting</label>
        <br>
        <input type="checkbox" id="native" name="native">
        <label for="native">Native</label>
        <br>
        <input type="submit" value="Create">
    </form>
</main>
</body>
</html>
