<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/leaflet.css"/>
    <script src="/js/leaflet.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/map.css">
    <script src="/js/map.js" defer></script>
    <script src="/js/idbHelper.js" defer></script>
    <script src="/js/usernameHandler.js" defer></script>
    <script src="/js/formHandler.js" defer></script>
    <script src="/js/navHandler.js" defer></script>
    <script src="/js/idb_util.js" defer></script>
    <script src="/js/new_sync_idb_util.js" defer></script>
</head>
<body>
<%- include("partials/header.ejs") %>
<main class="flex flex-col items-center w-full bg-gray-100">
    <form action="" id="form" class="flex flex-col w-full max-w-screen-md p-8 bg-white lg:drop-shadow-xl lg:border lg:border-gray-300 lg:rounded-lg lg:my-8">
        <input type="hidden" id="nickname" name="nickname">
        <label for="name" class="text-xl font-semibold mb-2">Name</label>
        <input type="text" id="name" name="name" maxlength="95" class="mb-4 p-2 rounded border border-gray-300" required>
        <h2 class="text-xl font-semibold mb-2">Image</h2>
        <div id="submitDiv" class="flex flex-col">
            <label for="image" class="w-full px-4 py-2 bg-gray-200 rounded cursor-pointer hover:bg-gray-300 active:bg-gray-400 transition ease-in text-center">Upload from storage</label>
            <input type="file" id="image" name="image" accept="image/*" class="hidden">
            <label for="imageUrl" class="text-center my-2">or from URL</label><br>
            <input type="text" id="imageUrl" name="imageUrl" placeholder="Enter URL to photo..." class="mb-4 p-2 rounded border border-gray-300">
        </div>
        <div id="previewDiv" class="flex-col items-center hidden">
            <img src="" id="previewImage" alt="Image preview" class="mx-auto aspect-square object-cover h-auto w-full max-w-screen-sm mb-6 shadow-2xl rounded-lg border-gray-300 border"/>
            <button id="cancelImage" type="button" onclick="cancelUpload()" class="w-full px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 active:bg-gray-400 transition ease-in text-center">Upload a different image</button>
        </div>
        <input type="hidden" id="image" name="image"/>
        <label for="dateSeen" class="text-xl font-semibold mb-2">Date seen</label>
        <input type="datetime-local" id="dateSeen" name="dateSeen" class="mb-2" required>
        <label for="description" class="text-xl font-semibold mb-2">Description</label>
        <textarea id="description" name="description" maxlength="2400" rows="4" cols="25" class="mb-6 p-2 border border-gray-300 rounded" required></textarea>
        <div class="flex flex-col">
            <h2 class="text-xl font-semibold mb-2">Location</h2>
            <div id="map" class="flex-grow w-full h-full mx-auto aspect-auto rounded border-gray-300 border mb-2"></div>
            <button id="find-me" type="button" class="w-full px-4 py-2 mb-2 bg-gray-200 rounded hover:bg-gray-300 active:bg-gray-400 transition ease-in text-center">Find my location</button>
            <span id="locationSuccess" class="text-sm text-emerald-400 mb-2 hidden">Location found</span>
            <span id="locationFailure" class="text-sm text-red-400 mb-2 hidden">Failed to get location!</span>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
        </div>
        <!-- Height -->
        <label for="height" class="text-xl font-semibold mb-2">Height</label>
        <select id="height" name="height" class="w-full px-4 py-2 mb-2 bg-gray-200 rounded cursor-pointer" required>
            <option value="None">None</option>
            <option value="<0.1m"><0.1m</option>
            <option value="0.1-0.5m">0.1-0.5m</option>
            <option value="0.5-1m">0.5-1m</option>
            <option value="1-2m">1-2m</option>
            <option value="2-4m">2-4m</option>
            <option value="4-8m">4-8m</option>
            <option value="8+m">8+m</option>
        </select>
        <!-- Spread -->
        <label for="spread" class="text-xl font-semibold mb-2">Spread</label>
        <select id="spread" name="spread" class="w-full px-4 py-2 mb-2 bg-gray-200 rounded cursor-pointer" required>
            <option value="None">None</option>
            <option value="<0.1m"><0.1m</option>
            <option value="0.1-0.5m">0.1-0.5m</option>
            <option value="0.5-1m">0.5-1m</option>
            <option value="1-2m">1-2m</option>
            <option value="2-4m">2-4m</option>
            <option value="4-8m">4-8m</option>
            <option value="8+m">8+m</option>
        </select>
        <!-- Sunlight -->
        <label for="sunlight" class="text-xl font-semibold mb-2">Sunlight</label>
        <select id="sunlight" name="sunlight" class="w-full px-4 py-2 mb-2 bg-gray-200 rounded cursor-pointer" required>
            <option value="None">None</option>
            <option value="Shaded">Shaded</option>
            <option value="Dappled">Dappled</option>
            <option value="Partial">Partial</option>
            <option value="Full">Full</option>
        </select>
        <!-- Soil Type -->
        <label for="soilType" class="text-xl font-semibold mb-2">Soil Type</label>
        <select id="soilType" name="soilType" class="w-full px-4 py-2 mb-2 bg-gray-200 rounded cursor-pointer" required>
            <option value="None">None</option>
            <option value="Chalk">Chalk</option>
            <option value="Clay">Clay</option>
            <option value="Loam">Loam</option>
            <option value="Sand">Sand</option>
        </select>
        <label for="colour" class="text-xl font-semibold mb-2">Colour</label>
        <select id="colour" name="colour" class="w-full px-4 py-2 mb-4 bg-gray-200 rounded cursor-pointer" required>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Brown">Brown</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Purple">Purple</option>
            <option value="Pink">Pink</option>
            <option value="Black">Black</option>
            <option value="Grey">Grey</option>
            <option value="White">White</option>
        </select>

        <h2 class="text-xl font-semibold mb-2">Characteristics</h2>
        <label for="flowering" class="flex items-center bg-gray-200 p-2 rounded cursor-pointer mb-2 hover:bg-gray-300 active:bg-gray-400 transition ease-out">
            <input type="checkbox" id="flowering" name="flowering" class="h-5 w-5 ml-2 hover:bg-gray-300">
            <span class="text-lg ml-2">Flowering</span>
        </label>
        <label for="leafy" class="flex items-center bg-gray-200 p-2 rounded cursor-pointer mb-2 hover:bg-gray-300 active:bg-gray-400 transition ease-out">
            <input type="checkbox" id="leafy" name="leafy" class="h-5 w-5 ml-2 hover:bg-gray-300">
            <span class="text-lg ml-2">Leafy</span>
        </label>
        <label for="fragrant" class="flex items-center bg-gray-200 p-2 rounded cursor-pointer mb-2 hover:bg-gray-300 active:bg-gray-400 transition ease-out">
            <input type="checkbox" id="fragrant" name="fragrant" class="h-5 w-5 ml-2 hover:bg-gray-300">
            <span class="text-lg ml-2">Fragrant</span>
        </label>
        <label for="fruiting" class="flex items-center bg-gray-200 p-2 rounded cursor-pointer mb-2 hover:bg-gray-300 active:bg-gray-400 transition ease-out">
            <input type="checkbox" id="fruiting" name="fruiting" class="h-5 w-5 ml-2 hover:bg-gray-300">
            <span class="text-lg ml-2">Fruiting</span>
        </label>
        <label for="native" class="flex items-center bg-gray-200 p-2 rounded cursor-pointer mb-2 hover:bg-gray-300 active:bg-gray-400 transition ease-out">
            <input type="checkbox" id="native" name="native" class="h-5 w-5 ml-2 hover:bg-gray-300">
            <span class="text-lg ml-2">Native</span>
        </label>
        <button type="submit" class="bg-emerald-400 hover:bg-emerald-500 active:bg-emerald-600 text-white font-bold py-2 px-4 rounded transition ease-out">
            Submit
        </button>
    </form>
</main>
</body>
</html>
