<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Observation Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="observation-details">
</div>
<script src="/javascripts/observationdetails.js"></script>
<script src="/javascripts/idb_util.js"></script>
</body>
</html>
